{% extends 'smartfishing/base.html' %}
{% block title %}Map page{% endblock %}
{% block content %}

<div id="map" style="height: 100vh;width: 100vw;overflow: hidden;"></div>

<style>
    html, body {
        overflow: hidden; /* Это предотвратит появление полос прокрутки */
    }

    #map {
        height: 100%;
        width: 100vw; /* Это гарантирует, что карта занимает всю ширину вьюпорта */
        overflow: hidden; /* На всякий случай, чтобы убедиться, что внутри контейнера карты не будет полос прокрутки */
    }

</style>


<form method="post" id="post-form" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasWithBothOptionsLabel">Информация о точке</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <div class="input-group mb-3">
          <input type="hidden" id="coordinates" name="coordinates" value="">
          <input type="text" id="point_name" class="form-control" placeholder="Наименование точки" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <div class="input-group mb-3">
          <input type="text" id="description" class="form-control" placeholder="Описание" aria-label="Recipient's username" aria-describedby="button-addon2">
        </div>
        <div class="input-group mb-3">
          <select class="form-select" id="type">
            <option value="1">Обычная</option>
          </select>
        </div>
        <div class="mb-3">
          <label for="formFileMultiple" class="form-label">Multiple files input example</label>
          <input class="form-control" type="file" id="formFileMultiple" name="images" multiple>
        </div>
        <button type="submit" class="btn btn-outline-primary">Сохранить точку</button>

      </div>
    </div>
</form>


<button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#point-info" aria-controls="offcanvasWithBothOptions">Enable both scrolling & backdrop</button>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" tabindex="-1" id="point-info" aria-labelledby="offcanvasWithBothOptionsLabel" data-bs-backdrop="false">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="point-infoLabel">Backdrop with scrolling</h5>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <p>Try scrolling the rest of the page to see this option in action.</p>

  </div>

</div>

{% load static %}
<script src="{% static 'map/js/mapScript.js' %}"></script>

{% endblock %}




